.card-header {
    margin: auto;
    font-weight: bold;
}

.card,
.card-clicked {
    font-size: 15px;
    float: left;
    width: 100px;
    height: 130px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
    font-family: "Arial", sans-serif;
    position: relative;
}

.card-clicked {
    opacity: 0.5;
}

.card:hover .tooltip,
.card-clicked:hover .tooltip {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.card-queue-container {
    float: right;
    width: 40%;
}

.tooltip {
    position: absolute;
    bottom: -10%;
    /* Position above the card */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card-image {
    margin: auto;
    width: 80%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    font-weight: bold;
}

.footer-left,
.footer-right {
    flex: 1;
    width: auto;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}